
.wz-ui-header{
    box-shadow: none;
    position: static;
    width: 900px;
    float: left;
}

.toolbar{
    height: 67px;
    width: 900px;
    float: left;
}

.toolbar-menus{
    height: 30px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #cacaca;
}

.toolbar-menus ul{
    padding: 4px 0 0 7px;
}

.toolbar-menus li{
    float: left;
    font-size: 13px;
    color: #666;
    border-radius: 3px 3px 0 0;
    padding: 7px 11px 6px;
    border : 1px solid transparent;
}

.toolbar-menus li.active{
    background-color: #f5f5f5;
    box-shadow: inset 0 1px rgba(255,255,255,.5);
    border: solid 1px #cacaca;
}

.tools-line{
    height: 25px;
    padding: 5px 7px;
    width: 886px;
    float: left;
    background: #f5f5f5;
    border-bottom: 1px solid #cacaca;
}

.tool{
    float: left;
}

.tool-separator{
    float: left;
    width: 1px;
    height: 17px;
    background-color: #ccc;
    margin: 4px 7px;
}

.tool-fontfamily{
    width: 100px;
    height: 24px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 1px rgba(0,0,0,.05);
    border: solid 1px #cacaca;
    font-size: 12px;
    color: #424242;
    margin-right: 10px;
    line-height: 24px;
    padding: 0 6px;
}

.tool-fontsize{
    width: 40px;
    height: 24px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 1px rgba(0,0,0,.05);
    border: solid 1px #cacaca;
    font-size: 12px;
    color: #424242;
    line-height: 24px;
    padding: 0 6px;
}

.tool-button{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.tool-button:hover{
    background-color: #e5e5e5;
    border-color: #cacaca;
}

.tool-button.active{
    background-color: #fff;
    border-color: #dcdcdc;
}

.tool-button:hover .active{
    background-color: #fff;
    border-color: #dcdcdc;
}

.tool-button i{
    background: url('@static/sprite.png') 0 0;
    background-size: 155px 17px;
    display: block;
}

.tool-button-bold i{
    margin: 7px;
    width: 10px;
    height: 10px;
    background-position: 0 0;
}

.tool-button-italic i{
    margin: 7px 8px 7px 9px;
    width: 7px;
    height: 10px;
    background-position: -21px 0;
}

.tool-button-color i{
    margin: 4px;
    width: 16px;
    height: 16px;
    background: #7ebe30;
}

.tool-button-underline i{
    margin: 6px 6px 6px 7px;
    width: 11px;
    height: 12px;
    background-position: -10px 0;
}

.tool-button-left i{
    margin: 6px 5px 7px;
    width: 14px;
    height: 11px;
    background-position: -28px 0;
}

.tool-button-center i{
    margin: 6px 5px 7px;
    width: 14px;
    height: 11px;
    background-position: -42px 0;
}

.tool-button-right i{
    margin: 6px 5px 7px;
    width: 14px;
    height: 11px;
    background-position: -56px 0;
}

.tool-button-justify i{
    margin: 6px 5px 7px;
    width: 14px;
    height: 11px;
    background-position: -70px 0;
}

.tool-button-line-spacing i{
    margin: 5px 4px 6px;
    width: 16px;
    height: 13px;
    background-position: -84px 0;
}

.tool-button-list-unsorted i{
    margin: 4px 5px 5px 6px;
    width: 13px;
    height: 15px;
    background-position: -100px 0;
}

.tool-button-list-sorted i{
    margin: 3px 5px 4px;
    width: 14px;
    height: 17px;
    background-position: -113px 0;
}

.tool-button-indent-dec i{
    margin: 6px 5px 7px;
    width: 14px;
    height: 11px;
    background-position: -127px 0;
}

.tool-button-indent-inc i{
    margin: 6px 5px 7px;
    width: 14px;
    height: 11px;
    background-position: -141px 0;
}

.toolbar-list{
    position: absolute;
    z-index: 1;
    height: auto;
    max-height: 450px;
    display: none;
}

.rule-top{
    width: 866px;
    height: 15px;
    float: left;
    padding: 8px 0 11px 34px;
    background: #ebebeb;
}

.rule-left{
    width: 15px;
    height: 476px;
    float: left;
    padding: 0 11px 0 8px;
    background: #ebebeb;
}

.editor{
    width: 866px;
    height: 476px;
    float: left;
    position: relative;
}

.pages{
    width: 866px;
    height: 476px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ebebeb;
}

.selections{
    width: 866px;
    height: 476px;
    position: absolute;
    top: 0;
    left: 0;
}

.selections.text{
    cursor: text;
}

.input{
    position: absolute;
    /*
    top: 0;
    left: 0;
    */
    z-index: -1;
}

.test-zone{
    position: absolute;
    /*
    top: 15px;
    left: 0;
    */
    z-index: -1;
}
