
.wz-view{
    
    width: 21.3cm;
    height: 600px;

    background-image:-moz-linear-gradient(14% 0% -90deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px,rgb(140,38,55) 90px,rgb(140,38,55) 100%); 
    background-image:-webkit-gradient(linear,14% 0%,14% 100%,color-stop(0, rgb(217,109,103)),color-stop(0.05, rgb(184,78,82)),color-stop(0.1, rgb(140,38,55)),color-stop(1,     rgb(140,38,55)));
    background-image:-webkit-linear-gradient(-90deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px,rgb(140,38,55) 90px,rgb(140,38,55) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px,rgb(140,38,55) 90px,rgb(140,38,55) 100%);
    background-image:linear-gradient(180deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px, rgb(150,38,55) 90px,rgb(140,38,55) 100%);
    
}

.wz-scroll-bar{
    width: 5px;
    background: transparent;
}

.wz-scroll-slider{
    width: 5px;
    background: #B84E52;
}

.wz-view-option:hover{
    border: 1px solid #7B2F39;
}

.stupid-container{
    
    width: 100%;
    height: 50px;
    
}

.weetext-options-left{
    
    width: 90px;
    height: 38px;
    float: left;
    padding: 12px 6px 0px 16px;
    border-right: 1px solid #8A313C;
    
}

.weetext-options-middle{
    
    width: 572px; /* 534px; */
    height: 40px;
    float: left;
    padding-top: 10px;
    padding-left: 24px;
    border-left: 1px solid #D0706F;
    border-right: 1px solid #8A313C;
    
}

.weetext-options-right{
    
    height: 22px;
    float: left;
    padding: 15px 19px 13px;
    border-left: 1px solid #D0706F;
    
}

.weetext-button i{
    
    height: 16px;
    float: left;
    background: url('@static/sprite.png') no-repeat;
    background-size: 227px 33px;
    
}

.weetext-options-new i{
    
    width: 20px;
    
}

.weetext-options-save{
    margin-left: 6px;
}

.weetext-options-save i{
    
    width: 15px;
    background-position: -20px 0;
    
}

.weetext-button-drop{
    float: left;
    margin-top: 2px;
    color: #641D26;
    font-size: 13px;
}

.weetext-button-drop span{
    float: left;
}

.button-typo span{
    /* width: 110px; */
}

.button-size span{
    /* width: 30px; */
}

.button-color-indicator{
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 3px;
    background: #009;
}

.button-bold i{
    width: 13px;
    background-position: -182px 0;
}

.button-bold.active i{
    background-position: -182px -16px;
}

.button-italic i{
    width: 12px;
    background-position: -195px 0;
}

.button-italic.active i{
    background-position: -195px -16px;
}

.button-underline i{
    width: 13px;
    background-position: -207px 0;
}

.button-underline.active i{
    background-position: -207px -16px;
}

.button-align-left i{
    width: 14px;
    background-position: -64px 0;
}

.button-align-left.active i{
    background-position: -64px -16px;
}

.button-align-center i{
    width: 14px;
    background-position: -92px 0;
}

.button-align-center.active i{
    background-position: -92px -16px;
}

.button-align-right i{
    width: 14px;
    background-position: -78px 0;
}

.button-align-right.active i{
    background-position: -78px -16px;
}

.button-align-justify i{
    width: 14px;
    background-position: -50px 0;
}

.button-align-justify.active i{
    background-position: -50px -16px;
}

.button-bullets i{
    width: 18px;
    background-position: -106px 0;
}

.button-bullets.active i{
    background-position: -106px -16px;
}

.wz-view-minimize, .wz-view-maximize, .wz-view-close{
    padding: 6px 6px 5px;
}

.wz-view-minimize i, .wz-view-maximize i, .wz-view-close i{
    width: 10px;
    height: 9px;
    display: block;
    background: url('@static/nav.png') no-repeat;
    background-size: 30px 9px;
}

.wz-view-minimize:hover, .wz-view-maximize:hover, .wz-view-close:hover{
    border: 1px solid #7B2F39;
}

.wz-view-maximize i{
    background-position: -10px 0;
}

.wz-view-close i{
    background-position: -20px 0;
}

.wz-view-minimize i{
    background-position: 0 0;
}

.weetext-options-display{
    
    width: 9px;
    height: 16px;
    float: left;
    margin-left: 4px;
    
}

.weetext-options-display i{
    
    width: 7px;
    height: 5px;
    float: left;
    margin-left: 1px;
    margin-top: 7px;
    background: url('@static/sprite.png') no-repeat -220px 0;
    background-size: 227px 33px;
    
}

.weetext-paper-zone{
    
    width: 21cm;
    height: 500px;
    border-radius: 3px;
    background: #EAEAEA;
    margin: 0 auto;
    position: relative;
    padding-top: 41px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    
}

.weetext-paper-title-container{
    
    width: 793px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 6px;
    background: #FFF;
    border-radius: 3px 3px 0px 0px;
    
}

.weetext-paper-title{
    
    width: 750px;
    height: 28px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid #D2D2D2;
    text-align: center;
    
}

.weetext-paper-title figure{
    
    width: 9px;
    height: 11px;
    display: inline-block;
    background: url('@static/title-icon.png') no-repeat;
    background-size: 9px 11px;
}

.weetext-paper-title span{    

    font-size: 15px;
    color: #545454;
    margin-left: 16px;
    
}

.weetext-paper-top-shadow{
    
    width: 793px;
    height: 10px;
    position: absolute;
    top: 99px;
    left: 6px;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    
}

.weetext-paper{
    
    width: 21cm;
    height: 29.5cm;
    background: #FFF;
    border-radius: 3px;
    margin-bottom:  5px;
    border-bottom: 1px solid #D2D2D2;
    padding: 2.5cm 3cm;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: left;
    
}   

.weetext-paper:last-child{
    
    margin-bottom:  0px;

}

.weetext-paper-bottom-shadow{
    
    width: 793px;
    height: 10px;
    position: absolute;
    bottom: 21px;
    left: 6px;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    
}

.weetext-paper-footer{
    
    height: 7px;
    position: absolute;
    bottom: 9px;
    left: 6px;

}

.weetext-paper-footer-left{
    
    float: left;
    width: 3px;
    height: 7px;
    background: url('@static/border.png') no-repeat;
    background-size: 6px 7px;
    
}

.weetext-paper-footer-middle{
    
    float: left;
    width: 787px;
    height: 7px;
    background: url('@static/middle.png') repeat-x;
    background-size: 1px 7px;
    
}

.weetext-paper-footer-right{
    
    float: left;
    width: 3px;
    height: 7px;
    background: url('@static/border.png') no-repeat -3px 0;
    background-size: 6px 7px;
    
}

.weetext-typo{
    width: 165px;
    position: absolute;
    top: 36px;
    left: 120px;
    list-style: none;
    display: none;
    z-index: 1;
}

.weetext-typo.show{
    display: block;
}

.weetext-typo:before{
    
    position: relative;
    top: 2px;
    left: 74px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('@static/sort.png') no-repeat;
    background-size: 15px 6px;
    content: '';
    
}

.weetext-typo li:first-child{
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    
}

.weetext-typo li{
    
    overflow: hidden; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 29px;
    background: #404040;
    color: #E0E0E0;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 10px;
    
}

.weetext-typo li:last-child{
    
    height: 30px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: inset 0px -1px 0px 0px #4D4D4D;
    
}

.weetext-typo li:hover{
    background: #535353;
}

.weetext-typo i{
    width: 10px;
    height: 8px;
    float: left;
    display: block;
    margin-top: 2px;
}

.weetext-typo li.active i{
    background: url('@static/tick.png') no-repeat;
    background-size: 10px 8px;

}

.weetext-typo span{
    float: left;
    margin-left: 8px;
}

.weetext-typo li.active span{
    color: #FF5951;
}

.weetext-size{
    width: 80px;
    position: absolute;
    top: 36px;
    left: 255px;
    list-style: none;
    display: none;
    z-index: 1;
}

.weetext-size.show{
    display: block;
}

.weetext-size:before{
    
    position: relative;
    top: 2px;
    left: 33px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('@static/sort.png') no-repeat;
    background-size: 15px 6px;
    content: '';
    
}

.weetext-size li:first-child{
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    
}

.weetext-size li{
    
    overflow: hidden; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 29px;
    background: #404040;
    color: #E0E0E0;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 10px;
    
}

.weetext-size li:last-child{
    
    height: 30px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: inset 0px -1px 0px 0px #4D4D4D;
    
}

.weetext-size li:hover{
    background: #535353;
}

.weetext-size i{
    width: 10px;
    height: 8px;
    float: left;
    display: block;
    margin-top: 2px;
}

.weetext-size li.active i{
    background: url('@static/tick.png') no-repeat;
    background-size: 10px 8px;
}

.weetext-size span{
    float: left;
    margin-left: 8px;
}

.weetext-size li.active span{
    color: #FF5951;
}

.weetext-color{
    width: 150px;
    height: 88px;
    background: #404040;
    border-radius: 3px;
    position: absolute;
    top: 43px;
    left: 264px;
    list-style: none;
    display: none;
    z-index: 1;
}

.weetext-color.show{
    display: block;
}

.weetext-color:before{
    
    position: relative;
    top: -5px;
    left: 67px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('@static/sort.png') no-repeat;
    background-size: 15px 6px;
    content: '';
    
}

.table-container{
    border-radius: 2px;
    float: left;
    margin: 4px 12px 12px 12px;
    overflow: hidden;
    border-top: 1px solid #050505;
    border-bottom: 1px solid #535353;
}

td{
    width: 21px;
    height: 21px;
}

tr:nth-child(1) td:nth-child(1){
    background: #2D035B;
}

tr:nth-child(1) td:nth-child(2){
    background: #6B5389;
}

tr:nth-child(1) td:nth-child(3){
    background: #BD1749;
}

tr:nth-child(1) td:nth-child(4){
    background: #E43D60;
}

tr:nth-child(1) td:nth-child(5){
    background: #F8A79B;
}

tr:nth-child(1) td:nth-child(6){
    background: #F5920B;
}

tr:nth-child(2) td:nth-child(1){
    background: #15ABD9;
}

tr:nth-child(2) td:nth-child(2){
    background: #0877A8;
}

tr:nth-child(2) td:nth-child(3){
    background: #0F6A4E;
}

tr:nth-child(2) td:nth-child(4){
    background: #47B769;
}

tr:nth-child(2) td:nth-child(5){
    background: #A4CE3F;
}

tr:nth-child(2) td:nth-child(6){
    background: #FFD000;
}

tr:nth-child(3) td:nth-child(1){
    background: #000000;
}

tr:nth-child(3) td:nth-child(2){
    background: #363636;
}

tr:nth-child(3) td:nth-child(3){
    background: #636363;
}

tr:nth-child(3) td:nth-child(4){
    background: #B7B7B7;
}

tr:nth-child(3) td:nth-child(5){
    background: #D7D7D7;
}

tr:nth-child(3) td:nth-child(6){
    background: #FFFFFF;
}

.weetext-hex{
    width: 126px;
    height: 21px;
    background: #171717;
    float: left;
    padding-top: 3px;
    margin: 0px 12px 12px 12px;
    border-radius: 2px;
    overflow: hidden;
    border-top: 1px solid #050505;
    border-bottom: 1px solid #535353;
    text-align: center;
}

.weetext-hex span{
    color: #04397B;
    font-size: 14px;
    display: inline-block;
    margin-right: 4px;
}

.weetext-hex input{
    max-width: 50px;
    background: none;
    color: #D3D3D3;
    font-size: 14px;
    display: inline-block;
}

.weetext-map{
    background: #f00;
    float: left;
    margin: 0px 12px 12px 12px;
    border-radius: 2px;
    overflow: hidden;
    border-top: 1px solid #050505;
    border-bottom: 1px solid #535353;
    position: relative;
}

.weetext-map figure{
    width: 126px;
    height: 160px;
    background: url('@static/map.png') no-repeat;
    background-size: 126px 160px;
}

.weetext-map i{
    top: -9px;
    left: -9px;
    width: 18px;
    height: 18px;
    background: url('@static/color.png') no-repeat -126px 0px;
    background-size: 157px 25px;
    position: absolute;
}

.weetext-rainbow{
    float: left;
    margin: 0px 12px 12px 12px;
    border-radius: 2px;
    border-top: 1px solid #050505;
    border-bottom: 1px solid #535353;
    position: relative;
}

.weetext-rainbow figure{
    width: 126px;
    height: 25px;
    background: url('@static/color.png') no-repeat 0px 0px;
    background-size: 157px 25px;
}

.weetext-rainbow i{
    width: 13px;
    height: 9px;
    background: url('@static/color.png') no-repeat -144px 0px;
    background-size: 157px 25px;
    position: absolute;
    top: -2px;
    left: 80px;
}

.weetext-remote-carret{
    border: 1px solid #09f;
    background: #f00;
    border-top: 0px;
    border-bottom: 0px;
    height: 12pt;
    margin-top: -1pt;
    outline: 1px solid rgba( 255, 255, 255, 0.3 );
}

/* Estilos para pruebas */
.weetext-option{
    float: left;
}
