
.wz-app-7{
    
    width: 21.6cm;
    height: 600px;

    background-image:-moz-linear-gradient(14% 0% -90deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px,rgb(140,38,55) 90px,rgb(140,38,55) 100%); 
    background-image:-webkit-gradient(linear,14% 0%,14% 100%,color-stop(0, rgb(217,109,103)),color-stop(0.05, rgb(184,78,82)),color-stop(0.1, rgb(140,38,55)),color-stop(1,     rgb(140,38,55)));
    background-image:-webkit-linear-gradient(-90deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px,rgb(140,38,55) 90px,rgb(140,38,55) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px,rgb(140,38,55) 90px,rgb(140,38,55) 100%);
    background-image:linear-gradient(180deg,rgb(217,109,103) 0%,rgb(184,78,82) 39px, rgb(150,38,55) 90px,rgb(140,38,55) 100%);
    
}

.wz-app-7 .stupid-container{
    
    width: 100%;
    height: 50px;
    
}

.wz-app-7 .weetext-options-left{
    
    width: 90px;
    height: 33px;
    float: left;
    padding-top: 17px;
    padding-left: 22px;
    border-right: 1px solid #8A313C;
    
}

.wz-app-7 .weetext-options-middle{
    
    width: 534px;
    height: 33px;
    float: left;
    padding-top: 17px;
    padding-left: 30px;
    border-left: 1px solid #D0706F;
    border-right: 1px solid #8A313C;
    
}

.wz-app-7 .weetext-options-right{
    
    width: 110px;
    height: 33px;
    float: left;
    padding-top: 17px;
    padding-left: 24px;
    border-left: 1px solid #D0706F;
    
}

.wz-app-7 .weetext-button{
    
    height: 16px;
    float: left;
    background: url('https://static.weezeel.com/app/7/sprite.png') no-repeat;
    
}

.wz-app-7 .weetext-options-new{
    
    width: 20px;
    
}

.wz-app-7 .weetext-options-save{
    
    width: 15px;
    margin-left: 20px;
    background-position: -20px 0;
    
}

.wz-app-7 .button-typo{
	float: left;
	margin-top: 2px;
	color: #641D26;
	font-size: 13px;
}

.wz-app-7 .button-size{
	float: left;
	margin-top: 2px;
	margin-left: 15px;
	color: #641D26;
	font-size: 13px;
}

.wz-app-7 .button-color{
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 1px;
	margin-left: 15px;
	border-radius: 3px;
	background: #009;
}

.wz-app-7 .button-bold{
	width: 13px;
	margin-left: 15px;
    background-position: -182px 0;
}

.wz-app-7 .button-bold.active{
    background-position: -182px -16px;
}

.wz-app-7 .button-italic{
	width: 12px;
	margin-left: 15px;
    background-position: -195px 0;
}

.wz-app-7 .button-italic.active{
    background-position: -195px -16px;
}

.wz-app-7 .button-underline{
	width: 13px;
	margin-left: 15px;
    background-position: -207px 0;
}

.wz-app-7 .button-underline.active{
    background-position: -207px -16px;
}

.wz-app-7 .button-align-left{
	width: 14px;
	margin-left: 15px;
    background-position: -64px 0;
}

.wz-app-7 .button-align-left.active{
    background-position: -64px -16px;
}

.wz-app-7 .button-align-center{
	width: 14px;
	margin-left: 15px;
    background-position: -92px 0;
}

.wz-app-7 .button-align-center.active{
    background-position: -92px -16px;
}

.wz-app-7 .button-align-right{
	width: 14px;
	margin-left: 15px;
    background-position: -78px 0;
}

.wz-app-7 .button-align-right.active{
    background-position: -78px -16px;
}

.wz-app-7 .button-align-justify{
	width: 14px;
	margin-left: 15px;
    background-position: -50px 0;
}

.wz-app-7 .button-align-justify.active{
    background-position: -50px -16px;
}

.wz-app-7 .button-bullets{
    
    width: 18px;
    margin-left: 15px;
    background-position: -106px 0;
    
}

.wz-app-7 .wz-win-maximize{
    
    width: 14px;
    height: 16px;
    float: left;
    background: url('https://static.weezeel.com/app/7/sprite.png') no-repeat -124px 0;
    
}

.wz-app-7 .wz-win-close{
    
    width: 14px;
    height: 16px;
    float: left;
    background: url('https://static.weezeel.com/app/7/sprite.png') no-repeat -153px 0;
    
}

.wz-app-7 .wz-win-minimize{
    
    width: 15px;
    height: 16px;
    float: left;
    background: url('https://static.weezeel.com/app/7/sprite.png') no-repeat -138px 0;
    
}

.wz-app-7 .weetext-options-display{
    
    width: 7px;
    height: 5px;
    float: left;
    margin-left: 5px;
	margin-top: 7px;
    background: url('https://static.weezeel.com/app/7/sprite.png') no-repeat -220px 0;
    
}

.wz-app-7 .weetext-paper-zone{
    
    width: 21cm;
    height: 500px;
    border-radius: 7px;
    background: #EAEAEA;
    margin: 0 auto;
    position: relative;
    padding-top: 41px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    
}

.wz-app-7 .weetext-paper-title-container{
    
    width: 794px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 11px;
    background: #FFF;
    border-radius: 7px 7px 0px 0px;
    
}

.wz-app-7 .weetext-paper-title{
    
    width: 750px;
    height: 28px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid #D2D2D2;
    text-align: center;
    
}

.wz-app-7 .weetext-paper-title figure{
    
    width: 9px;
    height: 11px;
    display: inline-block;
    background: url('https://static.weezeel.com/app/7/title-icon.png') no-repeat;
}

.wz-app-7 .weetext-paper-title span{    

    font-size: 15px;
    color: #545454;
    margin-left: 16px;
    
}

.wz-app-7 .weetext-paper-top-shadow{
    
    width: 794px;
    height: 10px;
    position: absolute;
    top: 99px;
    left: 11px;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(255,255,255,1)),color-stop(1, rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    
}

.wz-app-7 .weetext-paper{
    
    width: 21cm;
    height: 29.5cm;
    background: #FFF;
    border-radius: 7px;
    margin-bottom:  5px;
    border-bottom: 1px solid #D2D2D2;
    padding: 2.5cm 3cm;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: left;
    
}   

.wz-app-7 .weetext-paper:last-child{
    
    margin-bottom:  0px;

}

.wz-app-7 .weetext-paper-bottom-shadow{
    
    width: 794px;
    height: 10px;
    position: absolute;
    bottom: 21px;
    left: 11px;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    
}

.wz-app-7 .weetext-paper-footer{
    
    height: 18px;
    position: absolute;
    bottom: 3px;
    left: 11px;

}

.wz-app-7 .weetext-paper-footer-left{
    
    float: left;
    width: 7px;
    height: 18px;
    background: url('https://static.weezeel.com/app/7/footer-left.png') no-repeat;
    
}

.wz-app-7 .weetext-paper-footer-middle{
    
    float: left;
    width: 780px;
    height: 18px;
    background: url('https://static.weezeel.com/app/7/footer-middle.png');
    
}

.wz-app-7 .weetext-paper-footer-right{
    
    float: left;
    width: 7px;
    height: 18px;
    background: url('https://static.weezeel.com/app/7/footer-right.png') no-repeat;
    
}

.wz-app-7 .weetext-size{
    width: 80px;
    position: absolute;
    top: 36px;
    left: 255px;
    list-style: none;
    display: none;
    z-index: 1;
}

.wz-app-7 .weetext-size.show{
    display: block;
}

.wz-app-7 .weetext-size:before{
    
    position: relative;
    top: 2px;
    left: 33px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('https://static.weezeel.com/app/7/sort.png') no-repeat;
    content: '';
    
}

.wz-app-7 .weetext-size li:first-child{
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    
}

.wz-app-7 .weetext-size li{
    
    overflow: hidden; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 29px;
    background: #404040;
    color: #E0E0E0;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 10px;
    
}

.wz-app-7 .weetext-size li:last-child{
    
    height: 30px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: inset 0px -1px 0px 0px #4D4D4D;
    
}

.wz-app-7 .weetext-size li:hover{
    background: #535353;
}

.wz-app-7 .weetext-size i{
    width: 10px;
    height: 8px;
    float: left;
    display: block;
    margin-top: 2px;
}

.wz-app-7 .weetext-size li.active i{
    background: url('https://static.weezeel.com/app/7/tick.png') no-repeat;
}

.wz-app-7 .weetext-size span{
    float: left;
    margin-left: 8px;
}

.wz-app-7 .weetext-size li.active span{
    color: #FF5951;
}

.wz-app-7 .weetext-color{
    width: 150px;
	height: 250px;
	background: #404040;
	border-radius: 6px;
    position: absolute;
    top: 43px;
    left: 264px;
    list-style: none;
    display: none;
    z-index: 1;
}

.wz-app-7 .weetext-color.show{
    display: block;
}

.wz-app-7 .weetext-color:before{
    
    position: relative;
    top: -5px;
    left: 67px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('https://static.weezeel.com/app/7/sort.png') no-repeat;
    content: '';
    
}

/* Estilos para pruebas */
.wz-app-7 .weetext-option{
    float: left;
}
